<div class="container">
  <div class="nav">
    <div class="col-lg-3">
      <div class="well sidebar-nav">
        <h2>Admin navbar</h2>
        <ul class="nav nav-list">
          <li class="nav-li"><%= link_to 'Categories', admin_categories_path %></li>
          <li class="nav-li"><%= link_to 'Sounds', admin_sounds_path %></li>
          <li class="nav-li"><%= link_to 'Mixes', admin_mixes_path %></li>
          <li class="nav-li"><%= link_to 'Posts', admin_posts_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
